/* General */
body {
  font-family: 'Segoe UI', sans-serif;
  background: #080808; /* fondo oscuro */
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

header {
  text-align: center;
  margin-top: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Canvas de Pac-Man */
#pacman {
  display: block;
  margin: 1rem auto;
  background: #080808; /* fondo oscuro minimalista */
  border: 2px solid #222;
  border-radius: 12px;
}
